.pegs {
  --border-width-inset: 0.5em;
  --border-width-outset: 0.5em;
  --peg-empty: rgba(0 0 0 / 0.2);
  --bg-darklight: linear-gradient(to right bottom, rgba(0 0 0 / 0.3), transparent) padding-box;
  --bg-highlight: radial-gradient(circle at 75% 75%, rgb(255 255 255 / 0.3), transparent 50%)
    padding-box;
  display: flex;
  margin-bottom: 1rem;
}
.peg {
  position: relative;
  flex: 1 0 20px;
  aspect-ratio: 1 / 1;
  text-align: center;
  border-radius: 50%;
  border: var(--border-width-inset) inset rgba(0 0 0 / 0.4);
  background-color: var(--peg-empty);
}
.peg > * {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: var(--border-width-outset) outset rgba(0 0 0 / 0.5);
  background: var(--peg-color);
}
.peg > *::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  border-radius: 50%;
  background: var(--bg-darklight);
}
.peg > *::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  border-radius: 50%;
  background: var(--bg-highlight);
}
.pegs-code {
  --border-width-outset: 0.5rem;
  --border-width-inset: 0.5rem;
}
.pegs-call {
  --border-width-outset: 0.25rem;
  --border-width-inset: 0.25rem;
  --bg-darklight: transparent;
  --peg-empty: transparent;
}
.pegs-call .peg-0 {
  --border-width-inset: 0;
}
.peg-0 {
  --border-width-outset: 0;
  --bg-darklight: transparent;
  --bg-highlight: transparent;
}
.peg-1 {
  --peg-color: Yellow;
}
.peg-2 {
  --peg-color: Lime;
}
.peg-3 {
  --peg-color: Red;
}
.peg-4 {
  --peg-color: Fuchsia;
}
.peg-5 {
  --peg-color: Chocolate;
}
.peg-6 {
  --peg-color: DodgerBlue;
}
.peg-w {
  --peg-color: radial-gradient(circle at 20% 20%, white 50%, black) border-box;
}
.peg-b {
  --peg-color: radial-gradient(circle at 30% 30%, white, black 30%) border-box;
}
