.board {
  display: flex;
  flex-direction: column;
  margin: 4rem 0 1rem;
}
.board-row-code {
  display: grid;
  grid-template-columns: repeat(calc(var(--peg-count) + 1), 1fr);
}
.pegs {
  display: flex;
  align-items: end;
}
.pegs-code {
  grid-column: 1 / calc(var(--peg-count) + 1);
  gap: 0.25em;
}
.pegs-call {
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  padding: 0.3em;
}
.pegs-wait {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.3em;
}
.peg {
  flex: var(--peg-count) 0 20px;
  aspect-ratio: 1 / 1;
  text-align: center;
}
