.logo {
  height: 200px;
  padding: 1em;
  will-change: filter;
  transition: filter 300ms;
}

.logo.bootstrap:hover {
  filter: drop-shadow(0 0 2em var(--bs-danger-border-subtle));
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--bs-info-border-subtle));
}

.logo.webpack:hover {
  filter: drop-shadow(0 0 2em var(--bs-light-border-subtle));
}

.logo.vite:hover {
  filter: drop-shadow(0 0 2em var(--bs-dark-border-subtle));
}

@media (prefers-reduced-motion: no-preference) {
  .spin {
    animation: logo-spin infinite 20s linear;
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
