
/* Toasts canvas (window) */
.toast-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Toasts ruler */
.toast-flexbox {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: end;
  /* justify-content: end; */
  gap: .25rem;
  height: 100%;
  overflow-y: auto;
}

/* Fix: justify-content: end; */
.toast-flexbox :first-child {
  margin-top: auto;
}
